/app/config/parameters.yml
/build/
/phpunit.xml
/bin/
!/bin/console
!/bin/php7-docker-ide
!/bin/*.sh
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
.idea/
docker-compose.override.yml
.ruby-gems
node_modules
web/assets/js/app.js
web/assets/css/styles.css
.bundle/
db.sqlite

tests/_output/*