#nginx:
    #environment:
        #VIRTUAL_HOST: majisti.skeleton
#fpm:
    #environment:
        #not sure this is working atm
        #SYMFONY__CACHE_DIR: /tmp/cache
        #SYMFONY__LOG_DIR: /tmp/logs

#        XDEBUG_CONFIG: idekey=PHPSTORM remote_host=YOUR_IP
#        PHP_IDE_CONFIG: serverName=THE_SERVER_NAME
#        XDEBUG: 1

#php:
    #environment:
        #not sure this is working atm
        #SYMFONY__CACHE_DIR: /tmp/cache
        #SYMFONY__LOG_DIR: /tmp/logs

#        XDEBUG_CONFIG: idekey=PHPSTORM remote_host=YOUR_IP
#        PHP_IDE_CONFIG: serverName=THE_SERVER_NAME
#        XDEBUG: 1
