.component-hint-box {
  @include full;
  background: rgba(246, 187, 43, 0.5);
  padding: rem($standardSpacing / 3);

  .hint-icon {
    color: $warningColor;
    float: left;
    clear: both;
    margin-right: rem($standardSpacing / 2);

    .question-mark-icon {
      color: $lightColor;
    }
  }

  .hint {
    font-size: rem(12);
    overflow: auto;
    display: block;
    margin: rem(4) auto auto;
  }
}