.component-horizontal-menu {
  @include span($halfColumns);

  li {
    display: inline-block;
    font-family: 'Oswald', 'Impact', sans-serif;
    font-size: rem(24);
    font-weight: bold;
    vertical-align: middle;
    margin-right: rem($standardSpacing);
  }
}