.component-message {
  @include full;
  margin: rem($standardSpacing / 2) 0;

  .wrapper {
    @include full;
    position: relative;

    .profile-picture {
      @include span(1 of 7);
      position: absolute;
      bottom: 0;
    }

    .bubble {
      @include span(6 of 7 last);
      font-size: rem(12);
      position: relative;

      .content {
        padding: rem(5) rem(10);
        margin-bottom: rem(2);
        border-bottom: rem(1) solid $primaryColor;
        margin-left: rem(24);
        margin-top: 0;

        &:after {
          background: url('/img/bubble-arrow.png') no-repeat;
          content: " ";
          width: rem(24);
          height: rem(12);
          display: block;
          position: absolute;
          bottom: rem(2);
          left: 0;
        }
      }
    }
  }

  .timestamp {
    @include span(6 of 7 last);
    text-align: right;
    font-size: rem(10);
    margin: 0;
  }

  &.owner {
    .wrapper {
      .bubble {
        .content {
          background: $primaryColor;
          border: none;
          color: $lightColor;
          margin-right: rem(24);
          margin-left: 0;

          &:after {
            bottom: rem(2);
            right: 0;
            left: auto;
            @include transform(scaleX(-1));
          }
        }
      }
    }

    .timestamp {
      text-align: left;
    }
  }
}