#fpm:
    #environment:
        #SYMFONY__CACHE_DIR: /tmp/cache
        #SYMFONY__LOG_DIR: /tmp/logs

php:
    environment:
        #SYMFONY__CACHE_DIR: /tmp/cache
        #SYMFONY__LOG_DIR: /tmp/logs

        XDEBUG_CONFIG: idekey=PHPSTORM remote_host=YOUR_IP
        PHP_IDE_CONFIG: serverName=MAJISTI_BOILERPLATE
#        XDEBUG: 1
