// Can't use variables in this file
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

label {
  display: block;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}