{% extends 'layout.html.twig' %}

{% block javascripts %}
    <script type="text/javascript" charset="UTF-8" src="{{ asset('assets/js/main.js') }}"></script>
{% endblock %}

{% block content %}
    <div id="react-root"></div>
{% endblock %}
